.about {
  display: flex;

  &__user {
    margin-right: 31px;
  }

  &__info {
  }
}

.info {
  padding-top: 18px;
  font-size: 1.8rem;
  width: 100%;
  &__me {
    line-height: 133%;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
    max-width: 690px;
    min-width: 320px;
  }
}

.profile {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  border: 1px solid $border-color;
  padding: 28px 50px 0 28px;
  position: relative;

  &::before {
    content: url('../assets/radius.svg');
    position: absolute;
    background-color: $main-color;

    top: -1px;
    box-shadow: 0px -2px 0px 0px rgba($main-color, 1);
    left: 50px;
  }

  &__item {
    display: grid;
    grid-template-columns: 124px 1fr;
    column-gap: 72px;
    border-bottom: 1px solid rgba($color: $border-color, $alpha: 0.4);
    padding: 20px;
    &:last-child {
      border-bottom: unset;

      & .profile {
        &__descr {
          display: flex;
          flex-wrap: wrap;
        }
        &__title {
          margin-right: 32px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__title {
    line-height: 133%;
  }

  &__place {
    margin-bottom: 8px;
  }

  &__name {
    font-size: 1.6rem;
  }
  &__subtitle,
  &__years {
    line-height: 133%;
    opacity: 0.4;
  }
}

.user {
  background-color: $accent;
  &__img {
    width: 322px;
    height: 355px;

    position: relative;

    img {
      height: 100%;
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  &__bg {
    width: 100%;
    height: 16px;
    position: absolute;
    background-color: $accent;
    bottom: 0;
    border-radius: 24px 24px 0 0;
    &::after {
      content: url('../assets/pfotoCurly.svg');
      position: absolute;
      top: -16px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__info {
    position: relative;

    font-size: 2rem;
    font-weight: 300;

    padding: 24px;
  }

  &__name {
    margin-bottom: 40px;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 600;
  }

  &__contacts {
    li {
      list-style-type: none;
      padding-left: 35px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  &__contact {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tg,
.tel,
.mail,
.gh {
  background-position: 0 center;
  background-repeat: no-repeat;
}

.tg {
  background-image: url('../assets/tg.svg');
}
.tel {
  background-image: url('../assets/phone-call.svg');
}
.mail {
  background-image: url('../assets/mail.svg');
}
.gh {
  background-image: url('../assets/gh.svg');
}
