* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 10px; // Необходимо чтобы легче переводить в rem
}

@import './normalize';
@import './abstracts/variables';
@import './abstracts/contacts';

@import './header';
@import './about';
@import './blocks/user';
@import './blocks/info';
@import './blocks/profile';

.page {
  background-color: $main-color;
  color: $text-color;
  padding: 40px;
  position: relative;

  @media (max-width: 762px) {
    padding: 55px 20px 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
