.info {
  padding-top: 18px;
  font-size: 1.8rem;
  width: 100%;
  &__me {
    line-height: 133%;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
    max-width: 690px;
    min-width: 320px;

    p {
      text-indent: 10px;
      span {
        color: $accent;
      }
      code {
        border-bottom: 1px solid $accent;
        font-style: italic;
      }
    }
  }

  @media (max-width: 762px) {
    font-size: 1.6rem;
  }
}
